<template>
    <v-container>
        <datetime type="datetime" v-model="date"></datetime>
        <v-btn color="primary" v-on:click="load()">Load</v-btn>
        <chart :chart-data="datacollection"></chart>
    </v-container>
</template>

<script>
import Vue from 'vue';
import { Datetime } from 'vue-datetime';
import 'vue-datetime/dist/vue-datetime.css';
import Chart from "./../components/Chart";

    export default {
        components: {
            Chart,
            datetime: Datetime
        },
        data() {
            return {
                datacollection: null,
                date: new Date(2020, 4, 14).toISOString()
            };
        },
        methods: {
            load() {
                console.log("load date", this.date, 5);
                var db = Vue.$db;
                var collectionRef = db.collection("devices").doc("pycom-co2").collection("measurements")
                var labels = [];
                var co2 = [];
                var voc = [];
                var parent = this;
                collectionRef.where("date", ">", new Date(this.date)).limit(100).get()
                    .then(function(querySnapshot) {
                        querySnapshot.forEach(function(doc) {
                            // doc.data() is never undefined for query doc snapshots
                            // console.log(doc.id, " => ", doc.data());
                            co2.push(doc.data().co2);
                            voc.push(doc.data().voc);
                            labels.push(new Date(doc.data().date.seconds*1000).toLocaleString());
                        });
                        parent.fillData(labels, co2, voc);
                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    });
            },
            fillData(l, co2, voc) {
                console.log(l);
                this.datacollection = {
                    labels: l,
                    datasets: [
                    {
                        label: "CO2 Level",
                        backgroundColor: "#f87979",
                        data: co2
                    },
                    {
                        label: "VOC Level",
                        backgroundColor: "#A5CC82",
                        data: voc
                    }
                    ]
                };
            },
        },
    }
</script>

<style scoped>

</style>