<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <div id="firebaseui-auth-container"></div>
          </v-col>
        </v-row>
      </v-container>
</template>

<script>
import firebase from 'firebase';
import * as firebaseui from 'firebaseui';
import "firebaseui/dist/firebaseui.css";

  export default {
      mounted() {
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        var uiConfig = {
            signInSuccessUrl: "/",
            signInOptions: [firebase.auth.EmailAuthProvider.PROVIDER_ID]
        };
        ui.start("#firebaseui-auth-container", uiConfig);
      },
  }
</script>
