<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>{{$t("signOut")}}</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            {{$t("exitWarning")}}
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" :to="'/'">{{$t("cancel")}}</v-btn>
            <v-spacer />
            <v-btn color="primary" v-on:click="signOut()">{{$t("signOut")}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import firebase from 'firebase';

  export default {
    methods: {
      signOut() {
        firebase.auth().signOut();
      }
    },
  }
</script>

<style scoped>

</style>