<template>
  <v-app>
    <AppHeader/>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import AppHeader from './components/AppHeader';
import firebase from 'firebase';

export default {
  name: 'App',

  components: {
    AppHeader,
  },

  data: () => ({
    //
  }),
  beforeCreate() {
    firebase.auth().onAuthStateChanged((user) => {
      if(user) {
        this.$store.commit('setUser', true, user)
      } else {
        this.$router.push('/signin')
      }
     });

    this.$i18n.locale=this.$store.getters.locale
  }
};
</script>
