<template>
    <v-app-bar app class="primary" dark id="app">
        <v-toolbar-title>ETS tracking</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-btn text v-for="(item,i) in menuItems" :key="`menuItem${i}`" :to="item.route">
                <v-icon left>{{item.icon}}</v-icon>
                {{item.title}}
            </v-btn>
            <v-btn text v-for="(item,i) in languages" :key="`language${i}`" v-on:click="setLocale(item.language)">
                <flag :iso=item.flag />
                {{item.title}}
            </v-btn>
        </v-toolbar-items>
    </v-app-bar>
</template>

<script>
export default {
    methods: {
        setLocale(locale) {
            this.$i18n.locale=locale;
            this.$store.commit('setLocale', locale)
        }
    },
    computed: {
        isAuthenticated() {
            return this.$store.getters.isAuthenticated
        },
        menuItems() {
            if (this.isAuthenticated === false) {
                return [
                    {
                        title: this.$t("signIn"),
                        route: "./signin",
                        icon: "mdi-login",
                    },
                ]
            } else {
                return [
                    {
                        title: this.$t("signOut"),
                        route: "./signout",
                        icon: "mdi-login",
                    },
                ]
            }
        },
        languages() {
            return [
                {
                    flag: "us",
                    language: "en",
                    title: "EN",
                },
                {
                    flag: "ru",
                    language: "ru",
                    title: "RU",
                },
            ]
        }
    }
}
</script>